@font-face {
  font-family: "Roboto Flex Local";
  src: url("../../Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
