@use "tokens/main" as *;

* {
  display: block;
  box-sizing: border-box;
  font: inherit;
  margin: unset;
  padding: unset;
}

head,
script,
link,
meta,
title {
  display: none;
}

:root {
  @include token-container-max-vars();
  @include token-padding-vars();
  @include token-typography-vars();
}

body {
  font-family: "Roboto Flex", system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #e0e0e0;

  @include token-typography-pg01();
}

p {
  display: block;
  + p {
    margin-top: 1em;
  }
}

a {
  color: inherit;
  display: inline;

  &[target='_blank'] {
    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 15l6-6'/%3E%3Cpolyline points='11 9 15 9 15 13'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 14px;
      height: 14px;
      display: inline-block;
      transition: transform 0.2s ease-in-out;
      transform: translateY(2px);
    }

    &:hover {
      &:after {
        transform: translateY(0px) translateX(2px);
      }
    }
  }
}

.content-wrapper {
  margin: 0 auto;
  position: relative;
}