.page__background-canvas-container {
    pointer-events: none;
    position: fixed;
    z-index: -1;

    > cmp-cgol-sim {
        filter: brightness(0.18);
        top: -128px;
        left: -128px;
    }
    
    &:before {
        --gradient-1: linear-gradient(70deg, hsla(50, 100%, 50%, 0.5), transparent, hsla(240, 100%, 50%, 0.5), transparent, hsla(50, 100%, 50%, 0.5), transparent, hsla(240, 100%, 50%, 0.5));
        --gradient-2: linear-gradient(190deg, hsla(190, 100%, 50%, 0.5), transparent, hsla(300, 100%, 50%, 0.5), transparent, hsla(190, 100%, 50%, 0.5), transparent, hsla(300, 100%, 50%, 0.5));
        --gradient-3: radial-gradient(circle, #ffff0008, #00ffff08, #ff00ff08, #0000ff08, transparent);
        animation: gradient-animation 30s ease infinite;
        animation-direction: alternate;
        background: var(--gradient-1, linear-gradient(transparent, transparent)),
            var(--gradient-2, linear-gradient(transparent, transparent)),
            var(--gradient-3, linear-gradient(transparent, transparent));
        background-size: 400% auto;
        display: block;
        content: "";
        inset: 0;
        mask-image: linear-gradient(to bottom, #0004 0.8%, #0003 2%, #0002 80%, transparent 100%);
        position: absolute;
        z-index: 1;

        @media (prefers-reduced-motion: reduce) {
            animation: none;
            background: none;
        }
    }
}

@keyframes gradient-animation {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 100% center;
    }
}
