$offset: 128px;
.page__background-canvas-container {
    left: -$offset;
    pointer-events: none;
    position: fixed;
    top: -$offset;
    z-index: -1;

    > cmp-cgol-sim {
        filter: brightness(0.18);
    }
}
