@use "../tokens/main" as *;

.hero {
    padding-block: unit(8) unit(8);
    padding-inline: unit(3);
    position: relative;

    @include token-container-query(sm) {
        padding-block-start: unit(16);
        padding-inline: unit(8);
    }

    .hero__title {
        margin-bottom: unit(4);
        @include token-typography-ht(light);
    }

    .hero__subtitle {
        @include token-typography-hs(light);

        @include token-media-min(lg) {
            padding-inline-start: unit(1);
        }
    }
}