---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Connor Low - Software Engineer">
  <header class="hero">
    <div class="container">
      <div class="hero__inner">
        <h1 class="hero__title">Connor</h1>
        <p class="hero__subtitle">software engineer</p>
      </div>
    </div>
  </header>
  <main>
    <div class="container" style="--layout-columns-sm: 2;">
      <div class="container__layout">
        <span>
          <p>
            Hi, I'm Connor Low, a software engineer in the Greater Seattle Area.
            I'm currently working at Avalara as a Senior AEM Engineer, focusing
            on implementing design systems, optimizing site performance, and
            building AI powered tools. I've also worked on a varietly of .NET
            projects including social sites and business applications built with
            Blazor, ASP.NET, and SignalR.
          </p>
          <p>
            Find me on <a href="https://github.com/connorjameslow" target="_blank">GitHub</a> and
            <a href="https://www.linkedin.com/in/connorjameslow/" target="_blank">LinkedIn</a>.
          </p>
        </span>
      </div>
    </div>
  </main>
</Layout>
