---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Connor James Low - Developer Portfolio">
  <main>
    <h1>Connor James Low</h1>
    <p>
      Welcome to my personal homepage, work portfolio, and blog built with
      Astro.
    </p>
  </main>
</Layout>
