---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Connor Low - Software Engineer">
  <header class="hero">
    <div class="container">
      <h1 class="hero__title">Connor</h1>
      <p class="hero__subtitle">software engineer</p>
    </div>
  </header>
  <main>
  </main>
</Layout>
