cmp-cgol-sim {
    height: 100%;
    width: 100%;

    canvas {
        image-rendering: pixelated;
        margin-inline: auto;
        scale: var(--scale, 1);
        transform-origin: top left;
    }
}