---
import "../styles/main.scss";
import robotoFlexFontUrl from "../../Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf?url";

if (import.meta.env.DEV) {
    void import("../styles/debug-layout.scss");
}

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preload" href={robotoFlexFontUrl} as="font" type="font/ttf" crossorigin />

        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link 
            href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..151,180..720,-200..50,96,468,79,-203,738,514,712&display=swap" 
            rel="stylesheet"
        > -->
        <title>{title}</title>
    </head>
    <body>
        <div class="page__background-canvas-container">
            <cmp-cgol-sim width="5120" height="5120" scale="2"></cmp-cgol-sim>
        </div>
        <div class="content-wrapper">
            <slot />
        </div>

        <script>
            void import("../components/GameOfLifeSimulation/GameOfLifeSimulation");
        </script>
    </body>
</html>
